.input-container {
  margin-bottom: 15px;

  input {
    padding-right: 42.5px;
    border-radius: 0;
    box-shadow: none;
    border-color: #d2d6de;

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
}

.login-form {
  color: #666;
  font-size: 14px;
  line-height: 1.42857143;
  width: 360px;
  margin: 7% auto;
}

.button-container {
  width: 40%;
  float: left;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;

  .btnSubmit {
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    border-radius: 0;
    border-width: 1px;
    text-decoration: none;
    border: 1px solid transparent;
    display: block;
    width: 100%;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    box-sizing: border-box;
  }
}

.remember-container {
  width: 60%;
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  box-sizing: border-box;
  float: left;
}

span.input-icon {
  color: #777;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  pointer-events: none;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-size: 14px;

  &:before {
    content: "\\2709";
  }
}

:local(.className) { background: red; }
:global(.xyz)  { background: green; }
